*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.top{
    width:70vw;
    border:1px solid white;
    display: flex;
    flex-direction: column;
}

.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
    transition: all ease-in-out 250ms;
}
.nav a {
    text-decoration: none;
    color: white;
}
.nav a:hover {
    text-decoration: none;
}
.nav p:hover {
    cursor: pointer;
    transform: scale(1.08);
    color: #629e32;
}

.nav p {
    position: relative;
    bottom: 10px;
    font-family: 'Abel';
    font-style: normal;
    font-weight: 400;
    font-size: 35px; 
}

.nav_center{
    border: 1px solid white;
    height: 200px;
    width:200px;
    border-radius: 200px;
    position: relative;
    bottom:50px;
    background: rgba(217, 217, 217, 0.1);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.nav_center img{
    height:55px;
    position: relative;
    top:40px;
}

.borders{
    display: flex;
    flex-direction: row;
    gap:140px;
    justify-content: space-between;
    align-items: center;
    position: relative;
    bottom:30px;
}

.b-left{
    border: 0.5px solid white;
    height: 1px;
    width:40vw;
}

.b-right{
    border: 0.5px solid white;
    height: 1px;
    width:40vw;
}

body{
    background: url(../img/crop-02.jpeg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    color:white;
}

main{
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    color:white;
    background: url(../img/filter.svg);
    background-position: center;
    background-size: cover;
}

aside{
    width:15vw;
    border-top:1px solid white;
    border-bottom:1px solid white;
}

.up{
    width: 100%;
    height: 60vh;
    border-bottom: 1px solid white;
}

.down{
    width: 100%;
    height: 40vh;
}
.insta {
    position: absolute;
    left: 80px;
    top: 480px;
}
.git {
    position: absolute;
    left: 80px;
    top: 600px;
}

.center {
    font-style: normal;
    font-weight: 400;
    text-align: center;
}

.center h1 {
    width: 70vw;
    font-family: 'Aclonica';
    font-size: 4vw;
    line-height: 8rem;
}
.center p {
    position: relative;
    bottom: 36px;
    margin: 20px;
    width: 65vw;
    font-family: 'Abel';
    font-size: 2vw;
    line-height: 2rem;
    letter-spacing: 0.06em;
}

.more {
    font-style: normal;
    font-weight: 400;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.ellipse1 {
    position: absolute;
    width: 250px;
    height: 57px;
    bottom: -53px;
    border-radius: 50%;
    background: rgba(217, 217, 217, 0.08);
    border: 1px solid #FFFFFF;
    transition: all ease-out 400ms;
}
.ellipse2 {
    position: absolute;
    width: 250px;
    height: 57px;
    bottom: -53px;
    border-radius: 50%;
    background: rgba(217, 217, 217, 0.08);
    border: 1px solid #FFFFFF;
    transition: all ease-out 400ms;
}
.more p {
    position: absolute;
    width: 180px;
    height: 34px;
    bottom: -49px;
    text-decoration: none;
    color: white;
}
.more a {
    position: absolute;
    right: 58%;
}

.more:hover .ellipse1{
    transform: rotate(-5.2deg);
}

.more:hover .ellipse2{
    transform: rotate(5.2deg);
}

.options {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* bottom: 9px; */
    top: 92px;
    /* gap: 20px; */
    padding: 0px;
    margin: 0px;
    /* right: 242px; */
}
.box {
  position: relative;
  width: 243px;
  height: 243px;
  background: linear-gradient(180deg, rgba(45, 47, 46, 0.24) 0%, rgba(130, 125, 117, 0.53) 100%);
  opacity: 1.11;
  border-radius: 15px;
  text-align: center;
  transition: all ease-out 300ms;
}
.box:hover {
    cursor: pointer;
    transform: scale(1.08);
}
.box a{
    text-decoration: none;
}
.box a:hover {
    text-decoration: none;
}
.box p {
    position: relative;
    font-family: 'Arbutus Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    top: 20px;
    line-height: 50px;
    letter-spacing: 0.06em;
   color: rgb(255, 255, 255);
}
.box img {
    position: relative;
    width: 73px;
    height: 73px;
    top: 30px;
    filter: drop-shadow(0px 4px 4px rgba(8, 8, 8, 0.25)) drop-shadow(0px 4px 4px rgba(1, 45, 7, 0.368));
}




















